.input-form
{
    display: flex;
    flex-flow: column;
    gap: .5rem;
    position: relative;
}

.input-form_label
{
    font-size: 0.833rem;
}

.input-form_invalidMsg
{
    font-size: .6875rem;
    color: $red;
}
