.button
{
    display: inline-block;
    color: $main;
    background-color: black;
    padding: .5rem 1rem;
    border-radius: .5rem;
    text-decoration: none;
    transition: opacity .25s;
    font-size: 1rem;
    border: none;
}

.button:hover
{
    opacity: 0.5;
}

.button-blue
{
    background-color: $blue;
    border-color: $blue;
}
