<header class="profile_header">
    {{{ back }}}
</header>
<section class="profile_container">
    <div class="profile_content">
        <div class="profile_avatar"></div>
        {{{ form }}}
    </div>
</section>
