<header class="profile_header">
    <a class="profile_back" href="./chats.html"></a>
</header>
<section class="profile_container">
    <div class="profile_content">
        <div class="profile_avatar"></div>
        {{{ form }}}
    </div>
</section>
