.sidebar
{
    width: 30rem;
    height: 100%;
    background-color: $white;
    display: flex;
    flex-flow: column;
}

.sidebar-header
{
    display: flex;
    align-items: center;
    padding: 1rem;
    gap: 1rem;
    border-bottom: 1px solid $deep_grey;
}

.sidebar-header_search
{
    flex: 1;
}

.sidebar-header_search-input
{
    background: url("@/search.svg") no-repeat;
    background-position: center right 7px;
}

.sidebar-header_create-chat
{
    mask-image: url('@/plus.svg');
    background-color: $deep_grey;
    border: none;
    padding: 0;
    width: 1.5rem;
    height: 1.5rem;
}

.chats
{
    flex: 1;
    overflow: auto;
}

.chatlist
{
    margin: 0;
    padding: 0;
}

.chatlist_row
{
    list-style: none;
    padding-inline: .5rem;
}

