<header class="sidebar-header">
    {{{ profile }}}
    <form class="sidebar-header_search">
        {{{ search }}}
    </form>
    <button class="sidebar-header_new-chat" title="Создать чат"></button>
</header>
<nav class="chats">
    <ul class="chatlist">
        {{{ chats }}}
    </ul>
</nav>
