.input-form_input
{
    width: 100%;
    height: 2.25rem;
    border: 1px solid $deep_grey;
    border-radius: .5rem;
    padding: .5rem;
    font-size: 1rem;
}

.input-form_input:focus
{
    outline: none;
}

.input-form_input:invalid, .input-form_input[aria-invalid="true"]
{
    border-color: $red;
}
