.sidebar
{
    width: 30rem;
    height: 100%;
    background-color: $white;
    display: flex;
    flex-flow: column;
}

.sidebar-header
{
    display: flex;
    align-items: center;
    padding: 1rem;
    gap: 1rem;
    border-bottom: 1px solid $deep_grey;
}

.sidebar-header_avatar
{
    height: 2.375rem;
    width: 2.375rem;
    background-image: url('@/avatar.svg');
}

.sidebar-header_search
{
    flex: 1;
}

.sidebar-header_search-input
{
    background: url('@/search.svg') no-repeat;
    background-position: center right 7px;
}

.sidebar-header_new-chat
{
    mask-image: url('@/plus.svg');
    background-color: $deep_grey;
    border: none;
    width: 1.5rem;
    height: 1.5rem;
}

.chats
{
    flex: 1;
    overflow: auto;
}

.chatlist
{
    margin: 0;
    padding: 0;
}

.chatlist_row
{
    list-style: none;
    padding-inline: .5rem;
}

.chatlist-item
{
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    text-decoration: none;
    color: black;
    border-radius: 1rem;
}

.chatlist-item-active
{
    background-color: $blue;
    color: $white;
}

.chatlist-item_avatar
{
    width: 3.75rem;
    height: 3.75rem;
    background-color: $deep_grey;
    border-radius: 50%;
}

.chatlist-item_text
{
    flex: 1;
    overflow: auto;
}

.chatlist-item_header
{
    margin-bottom: .5rem;
}

.chatlist-item_header, .chatlist-item_content
{
    display: flex;
    gap: .5rem;
    align-items: center;
}

.chatlist-item_name, .chatlist-item_msg
{
    flex: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.chatlist-item_msg-count
{
    padding-inline: .5rem;
    padding-block: .1rem;
    background-color: $blue;
    border-radius: 1.25rem;
    color: $white;
}
