@import "./layout/auth.css";
@import "./layout/frame.css";

:root, button {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

*
{
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6
{
  font-weight: normal;
}
  
body
{
  margin: 0;
}
