.chatlist-item
{
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    text-decoration: none;
    color: black;
    border-radius: 1rem;
}

.chatlist-item-active
{
    background-color: $blue;
    color: $white;
}

.chatlist-item_avatar
{
    width: 3.75rem;
    height: 3.75rem;
    background-color: $deep_grey;
    border-radius: 50%;
}

.chatlist-item_text
{
    flex: 1;
    overflow: auto;
}

.chatlist-item_header
{
    margin-bottom: .5rem;
}

.chatlist-item_header, .chatlist-item_content
{
    display: flex;
    gap: .5rem;
    align-items: center;
}

.chatlist-item_name, .chatlist-item_msg
{
    flex: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.chatlist-item_msg-count
{
    padding-inline: .5rem;
    padding-block: .1rem;
    background-color: $blue;
    border-radius: 1.25rem;
    color: $white;
}
